<% content_for :page_title do %>
  <%= link_to Spree.t(:products), spree.admin_products_url %> /
  <%= t(:new_product_import) %>
<% end %>

<div id="error" class="row" style="display: none">
  <div class="alert alert-danger">
    <div class="error-message"></div>
  </div>
</div>

<div id="success" class="row" style="display: none">
  <div class="alert alert-success">
    <div>Products have been imported successfully</div>
  </div>
</div>

<%= form_tag(product_imports_path, method: :post, multipart: true) do %>
  <%= field_set_tag do %>
    <div class="form-group field">
      <%= label_tag(:file, t(:choose_import_file)) %>
      <%= file_field_tag(:file, accept: 'text/csv', id: 'import-input') %>
    </div>

    <div class="form-actions" data-hook="buttons">
      <%= button t(:product_import_submit), 'ok', 'submit', {class: 'btn-success', disabled: true, id: 'import-btn'} %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.admin_products_path, icon: 'remove' %>
    </div>
  <% end %>
<% end %>

<script type='text/javascript'>
  (function($) {
    importBtn = $('#import-btn');
    importInput = $('#import-input');
    progressAlert = $('#progress');
    errorAlert = $('#error');
    successAlert = $('#success')
    var intervalId

    importBtn.click(function(e) {
      e.preventDefault();
      progressAlert.stop(true, true).fadeIn();
      importBtn.prop('disabled', true);
      importInput.prop('disabled', true);
      errorAlert.fadeOut(); 
      successAlert.fadeOut();

      formData = new FormData
      formData.append('file', importInput[0].files[0])

      $.ajax({
        type: 'POST',
        url: '<%= product_imports_path %>',
        contentType: false,
        dataType: 'json',
        data: formData,
        global: false,
        processData: false,
        cache: false,
        success: function(data) { processStatus(data['job_id']); },
        error: function(xhr, textStatus, errorThrown) { 
          displayError(textStatus);
          restoreState();
        }
      });

      function processStatus(jobId) {
        intervalId = setInterval(queryStatus, 1000, jobId)
      }

      function queryStatus(jobId) {
        $.ajax({
          method: 'GET',
          global: false,
          url: '<%= job_status_product_imports_path %>',
          data: { job_id: jobId },
          success: function(data) { handleStatusData(data); },
          error: function(xhr, textStatus, errorThrown) { 
            displayError(textStatus);
            restoreState(); 
          }
        });
      }

      function handleStatusData(data) {
        if(data['status'] == 'working') {
          return;
        }
        
        if(data['status'] == 'complete') {
          displaySuccess();
        } else {
          displayError(data['message']);
        }
        
        restoreState();
      }

      function displayError(message) {
        successAlert.fadeOut();
        errorAlert.fadeIn();
        errorAlert.find('.error-message').text(message);
      }

      function displaySuccess() {
        errorAlert.fadeOut();
        successAlert.fadeIn();
      }

      function restoreState() {
        clearInterval(intervalId);
        importBtn.prop('disabled', false);
        importInput.prop('disabled', false);
        progressAlert.fadeOut();    
      }
    });

    importInput.change(function(e) {
      importBtn.prop('disabled', false);
    });

  })(jQuery)
</script>
